<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>
<div style="width:400px">
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <strong>Cannot save due to <%= pluralize(@photo.errors.count, "error") %>:</strong>
      <ul>
        <% @photo.errors.full_message.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@photo) do |f|%> 
    <div class="form-group">
      <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :url, placeholder: "URL", class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.text_area :caption, placeholder: "Caption", class: "form-control"%>
    </div>
    <%= f.submit %>
  <% end %>
</div>